html {
    padding: 100px; 
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background: center fixed;
    }

h1 {
    color: red;
    padding: 10px;
    text-align: center;
    font-size: 50px;
}
h2 {
    text-align: center;
    font-size: 40px;    
}

p {
    font-size: 30px;
    text-align: center;
}

.image {
    display: block;
    margin: auto;
    position: relative;
    width: 20%;
    }
    
button {
    font-size: 30px;
    color: blueviolet;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px;
    background: linear-gradient(#0a0,#0c0)
    }
a:hover {
    background: linear-gradient(#390,#3a0);
}

